#main {
	width: : 100%;
}
#log {
	margin-left: 0 auto;
	margin-right: 0 auto;
}
.container {
	margin-top: 3%;
}

table {
	border: 1px solid black;
}

thead tr th,
tbody tr td {
	text-align: center;
}
